{% extends "base.html" %}

{% load static %}

{% block title %}{{ block.super }}|About{% endblock %}

{% block content %}

    <section id="about-us">
        <div class="container d-flex justify-content-center py-5 my-5">
            <div class="d-block ">
                <div class="about-header">
                    <h2 class="text-center text-uppercase mb-5">who we are</h2>
                </div>
                <div class="d-lg-flex">
                    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                        <img class="w-100" src="{% static 'img/about-1.jpeg' %}" alt="about us image">
                    </div>
                    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


