{% extends "dashboard_base.html" %}

{% load static %}

{% block head %}
{{ block.super }}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}

{% block title %}{{ block.super }}|Contact{% endblock %}

{% bootstrap_messages %}

{% block main %}

<h2>Section title</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


{% endblock %}