{% extends "base.html" %}

{% load static %}

{% block head %}
{{ block.super }}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

{% block title %}{{ block.super }}|Request Blood{% endblock %}

{% bootstrap_messages %}

{% block content %}

<div class="text-center sign-body">
    <form id="signup" method="POST" class="form-sign" action="{% url 'request-blood' %}">
        <img class="mb-4" src="{% static 'img/blood-bank.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal text-capitalize">need blood for save lifes</h1>

        {% csrf_token %}

        {% bootstrap_form request_blood layout='inline' %}

        <button class="btn btn-lg btn-danger btn-block mb-3 text-capitalize" type="submit">request now</button>

    </form>
</div>

{% endblock %}

{% block bootstrapJs %}
    {{ block.super }}
    <script src="{% static 'js/request-blood.js' %}"></script>
{% endblock %}