{% extends "base.html" %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}

{% block title %}{{ block.super }}|Reset Password{% endblock %}

{% block navbar %}{% endblock %}

{% bootstrap_messages %}

{% block content %}

<div class="text-center sign-body vh-100 align-middle">
    <form class="form-sign" method="POST" action="{% url 'reset-password' %}">
        <img class="mb-4" src="{% static 'img/blood-bag.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Password reset</h1>

        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        {% csrf_token %}
        {% bootstrap_form form layout='inline' %}
        
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}

    </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}

{% block bootstrapJs %}

{% endblock %}
