{% extends "base.html" %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}

{% block title %}{{ block.super }}|Sign up{% endblock %}

{% block navbar %}{% endblock %}

{% bootstrap_messages %}

{% block content %}

<div class="text-center sign-body sign-up min-vh-100 align-middle">
    <form action="{% url 'sign-up' %}" method="POST" class="form-sign">
        <img class="mb-4" src="{% static 'img/blood-bank.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        {% csrf_token %}

        {% bootstrap_form form layout='inline' %}
        {% bootstrap_form profile_form layout='inline' %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}

    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block bootstrapJs %}
<script src="{% static 'js/sign-up.js' %}"></script>

{% endblock %}